body{
    background-color:red;

}
#output{
    background-color: crimson;
    border-top: 10px crimson ridge;
    padding: 5px;
    border-radius: 10px;
    width:40%
}
#send-button{
    background-color: green;
    border-radius: 20px;
    height:30px;
    width:100px;
}
#p1name,#p2name{
    display: inline;
}


